[user]
	name = Wulfric Wang
	email = lufeihaidao+code@gmail.com
[core]
    editor = vim
    excludesfile = ~/.gitignore_global
; [merge]
;     tool = extMerge
; [mergetool "extMerge"]
;     cmd = extMerge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
;     keepTemporaries = false
;     trustExitCode = false
;     keepBackup = false
;     prompt = false
; [diff]
;     external = extDiff
[alias]
    ci = commit -a -v
    co = checkout
    st = status
    br = branch
    lg = log --graph --pretty=mt:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
    throw = reset --hard HEAD
[color]
    ui = true
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
